@import './styles/variables.css';

body {
    margin: 0;
    font-family: var(--font-sans);
    background-color: var(--color-bg-app);
    color: var(--color-text-main);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
}

code {
    font-family: var(--font-mono);
}

button {
    font-family: inherit;
}